#app {
  .sidebar-container {
    transition: width 0.3s; // 侧边栏显示/隐藏动画
    .scrollbar-wrapper {
      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
      .is-horizontal {
        display: none;
      }
      .el-menu {
        border: none;
        height: 100%;
        width: 100%;
        .el-menu-item, .el-submenu .el-submenu__title {
          text-align: left;
          font-size: 16px;
          font-family: 'Microsoft Yahei';
        }
      }
      .svg-icon {
        margin-right: 16px;
      }
    }
  }
  
  // 隐藏侧边栏
  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }
    .main-container {
      margin-left: 54px;
    }
  }
}