#app {
  .sidebar-container {
    .scrollbar-wrapper {
      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
      .is-horizontal {
        display: none;
      }
      .el-menu {
        border: none;
        height: 100%;
        width: 100%;
        .el-menu-item, .el-submenu .el-submenu__title {
          text-align: left;
          font-size: 16px;
          font-family: 'Microsoft Yahei';
        }
      }
      .svg-icon {
        margin-right: 16px;
      }
    }
  }
}